@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDE6ED;
  scrollbar-width: none;
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
}

.animation {
  transition: all 500ms ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  scrollbar-width: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  scroll-behavior: smooth;
}

.lines {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: space-between;
  left: calc(50.00000000000002% - 100% / 2);
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: calc(50.00000000000002% - 100vh / 2);
  width: 100%;
  z-index: -10 !important;
}

.single-line {
  background-color: rgba(157, 178, 191, 0.4);
  flex: none;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: perspective(1200px);
  width: 1px;
}

.navbar-wrap {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  transform: translate(-50%);
  width: 100%;
  z-index: 10;
}

.navbar-inside-wrap {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: auto;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
}

.navbar-container {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  transform: perspective(1200px);
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.left-part {
  opacity: 1;
  transform: perspective(1200px);
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.center-part {
  border-bottom-width: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-top-width: 0px;
  opacity: 1;
  transform: perspective(1200px);
}

.icons-wrap {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: min-content;
}

.right-part {
  opacity: 1;
  transform: perspective(1200px);
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-end;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-decoration: none;
  width: 15%;
}

.badge {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  letter-spacing: -0.02em;
  background-color: rgba(255, 255, 255, 0.02);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
  align-items: center;
  margin-bottom: 16px;
  padding: 6px 20px 6px 20px;
  font-size: 14px;
  line-height: 1.8;
  display: flex;
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.08),
    inset 0 2px 12px rgba(255, 255, 255, 0.04);
  border-width: 1px;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
}

.badge:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transition: all 300ms ease-in-out;
}
