<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  </head>

  <body style="background-color:#ffffff">
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:37.5em;padding-left:12px;padding-right:12px;margin:0 auto">
      <tbody>
        <tr style="width:100%">
          <td>
            {{!-- <h1 style="color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;font-size:24px;font-weight:bold;margin:40px 0;padding:0">Login</h1><a href="https://notion.so" style="color:#2754C5;text-decoration:underline;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;font-size:14px;display:block;margin-bottom:16px" target="_blank">Click here to log in with this magic link</a> --}}
            <p style="font-size:16px;line-height:24px;margin:24px 0;color:#ff5500;font-family:Plus Jakarta Sans, sans-serif;font-weight:500;margin-bottom:14px">Log in with this one time password: </p><code style="font-size:20px;font-weight:500;display:inline-block;padding:16px 4.5%;width:90.5%;background-color:#f4f4f4;border-radius:5px;border:1px solid #eee;color:#333">{{ randomOTP }}</code>
            <p style="font-size:14px;line-height:24px;margin:24px 0;color:#ababab;font-family:Plus Jakarta Sans, sans-serif;margin-top:14px;margin-bottom:16px">If you didn&#x27;t try to login, you can safely ignore this email.</p>
            <p style="font-size:14px;line-height:24px;margin:24px 0;color:#ababab;font-family:Plus Jakarta Sans, sans-serif;margin-top:12px;margin-bottom:38px">Hint: You can set a permanent password in Settings &amp; members → My account.</p><img alt="Notion&#x27;s Logo" height="56" width="56" src="https://lh3.googleusercontent.com/a/ACg8ocI7G_zguu7Ti-l8IpqxGBdBz5Rdcaq28Ub0yYFnB1cfyVZjfGM=s288-c-no" style="display:block;outline:none;border:none;text-decoration:none;border-radius: 9999px;" width="32" />
            <p style="font-size:12px;line-height:22px;margin:16px 0;color:#898989;font-family:Plus Jakarta Sans, sans-serif;margin-top:12px;margin-bottom:24px"><a href="https://notion.so" style="color:#898989;font-weight:500;text-decoration:underline;font-family:Plus Jakarta Sans, sans-serif;font-size:14px" target="_blank">Shredd Lab</a>, the version control<br />to keep your heath in check along with your coding.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
